/* まず、style.cssにこのルールを書き入れてください。 */
body {
    font-size: 100%;
    display : grid;
    place-content : center;
    place-items: center; 
    font-family: 'HG丸ｺﾞｼｯｸM-PRO'; 
    margin: auto;
}
  
.flashbox {
    width: 600px;
    height: 300px;
    font-size: 600%;
    background-color: black;
    color:white;
    display : grid;
    place-content : center;
}



.maindiv {
    display : grid;
    place-content : center;
    place-items: center;
}


.collect_answer {
    color: red;
    font-family: 'HG丸ｺﾞｼｯｸM-PRO'; 
    display : grid;
    place-content : center;
    place-items: center;    
}

.large-msg {
    display : grid;
    place-content : center;
    place-items: center;  
    font-size: 50px;
    font-family: 'HG丸ｺﾞｼｯｸM-PRO', cursive; 
}

.basic-msg {
    font-family: 'HG丸ｺﾞｼｯｸM-PRO'; 
    display : grid;
    place-content : center;
    place-items: center;    
}

.large-btn{
    width: 150px;
    height: 60px;
    font-size: 30px;
}

.small-btn  {
    width: 100px;
    height: 25px;
    font-size: 15px;
}

.ans-space {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    width: 500px;

    place-content : center;
    place-items: center;
}

.setting-space {
    display: flex;
    padding: 10px;
    width: 500px;

}

.settingbox{
    width: 3em;
}

.menu-btn{
    width: 300px;
    height: 60px;
    font-size: 30px;
}

/* 未使用 */
.answerbox{
    padding: 0.5em;
    width: 8em;
    font-size: 30px;
    height: 25px;
}


